@import './sass/reset';
@import './sass/variables';

// Global styles

body {
  background-color: rgba(226, 225, 225, 0.231);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
* {
  box-sizing: border-box;
}

.bold {
  display: inline !important;
  font-weight: 800 !important;
  font-size: 1rem;
  margin-right: 0px;
}

a {
  color: blue;
}

.btn {
  display: inline-block;
  margin: 1rem auto;
  width: 100%;
  max-width: 165px;
  color: white !important;
  background-color: white !important;
  background-image: -webkit-linear-gradient(top, rgba(80, 19, 0, 0.993), rgba(142, 61, 81, 0.68));
}

.sale {
  margin-top: -14rem;
  margin-left: 1.5rem;
}

.salePrice-details {
  color: red !important;
}

// App.js 

.content-area {
  margin-top: 64px !important;
  
}

// Navbar
@keyframes scaleMenu {
  from {font-size: 2rem}
  to {font-size: 2.5rem};
}

.navbar-container {
  flex-grow: 1;
  
}

.navbar-main {
  height: 64px;
  position: fixed;
  z-index: 1;
  background-color: white !important;
  background-image: -webkit-linear-gradient(top, rgba(80, 19, 0, 0.993), rgba(142, 61, 81, 0.68));
}

.filter-menu {
  margin-right: 2rem;
  border-radius: 50%; 
  font-size: 2rem !important;
  transition: all 1s;
  
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.navbar-title {
  
  flex-grow: 1;
  text-align: left;
  padding-left: 1.5rem;
  a{
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: white;
    }
    &:active, &:focus {
      outline: 0;
      border: none;
    }
  }
}

.search-field {
  background-color: rgba(187, 129, 143, 0.68);
  border-radius: 5px;
  padding: 0.5rem;
  padding-left: 1.5rem;
  border: solid 1px rgba(142, 61, 81, 0.68);
  width: 200px;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  animation: fadein 0.7s;
  &::placeholder {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
  }
}

.search-icon {
  color: white;
}
// <- Navbar end

//Landing page ->

.landing-container {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1.3fr 3fr;
  width: 100%;
  text-align: center;
  margin-top: 6.8rem;
  .landing-image {
    grid-area: 1 / 1;
    width: 100%;
    min-width: 300px;
    max-width: 500px
  }
  
  .skeletonImg {
    grid-area: 1 / 1;
    width: 100%;
    height: 250px;
    min-width: 300px;
    max-width: 500px
  }

  .landing-text {
    grid-area: 1 / 2;
    margin: 30px 0 !important;
    
  }

  .skeletonText {
    grid-area: 1 / 2;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    text-align: start;
    max-height: 300px;  
    .skeletonTitle {
      height: 10rem;
    }
    .skeletonDesc {
      height: 15rem;
    }
    .skeletonBtn {
      width: 165px;
      margin-top: 3rem;
      height: 3rem !important;
      margin: 0 auto;
    }
  }
  

  
  .landing-btn {
    margin: 30px !important;
  }
}

.skeleton-slider {
  grid-area: 2 / 1 / 2 / span 2;
  display: flex;
  justify-content: space-evenly;
  .game-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 20px;
      width: 200px;
      height: 300px;
      padding: 5px;
      
      .skeleton-image {
        height: 100px;
        margin: 5px;
      }
      .skeleton-text {
        max-width: 200px;
        margin: 0 auto;
      }
      .skeleton-button {
        height: 2rem !important;
        margin: 5px;
      }
    
    .add-to-cart-btn {
      margin: 0 auto;
    }
  }
}





.landing-popGames {
  grid-area: 2 / 1 / 2 / span 2;
  display: grid;
  grid-template-rows: 40px 1fr 20px;

  .slider {
    grid-area: 2 / 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 70vw;
  }
  button {
    margin: auto 5px;
  }
  .arrow {
    height: 100px;
    
    font-size: 3rem;
    fill: rgba(80, 19, 0, 0.993);
    &:hover {
      cursor: pointer;
      fill: rgba(187, 129, 143, 0.68);
    }
  }
  .game-landing {
    height: 300px;
    img {
      
      margin-bottom: 10px;
    }
    h2 {
      max-width: 170px;
    }
   
  }
  .game-card {
    .add-to-cart-btn {
      margin: 10px auto;
    }
  }
  .slider-pageDetails {
    align-self: flex-end;
    font-size: .8rem;
    margin: 0 auto;
  }
}

//<- Landingpage end.

// Game overview ->

.overviewGridContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.overviewGrid {
  list-style-type: none;
  width: 200px;
  height: auto;
  margin: 20px;

  .gameOverview {
    height: 300px;
    img {
      height: 150px;
      margin-bottom: 10px;
    }
  }
}

.skeleton-card {
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.81rem;
  .skeleton-image {
    display: block;
    height: 157px;
    width: 90%;
    margin: 0 auto;
  }
  .skeleton-button {
    height: 33px;
    margin: 0.9rem auto;
    display: block;
    width: 100%;
    max-width: 165px;
  }
  .skeleton-text {
    display: block;
    padding: 0.3rem;
    margin: 0.2rem auto;
  }
}

.game-card {
  padding: 0rem 1rem 1.5rem 1rem;
}

.add-to-cart-btn {
  display: block;
  margin: 1rem auto;
  width: 100%;
  max-width: 165px;
  background-color: white !important;
  background-image: -webkit-linear-gradient(top, rgba(80, 19, 0, 0.993), rgba(142, 61, 81, 0.68));
}



@keyframes scalein {
  from { transform: scale(0) }
  to { transform: scale(1) }
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.showScrollButton {
  background-image: -webkit-linear-gradient(top, rgba(80, 19, 0, 0.993), rgba(142, 61, 81, 0.68));
  position: sticky !important;
  bottom: 5px;
  left: 49%;
  animation: scalein .2s;
}

@keyframes fadeout {
  from { transform: scale(1) };
  to { transform: scale(0) };
}


.hideScrollButton {
  position: sticky;
  bottom: 5px;
  left: 49%;
  animation: fadeout .2s !important;
}

.pagenation {
  display: flex;
  margin: 40px;
  float: right;
  button {
    border: none;
    background-color: inherit;
    svg {
      fill: rgba(80, 19, 0, 0.993);
    }
  }
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.originalPrice {
  text-decoration: line-through;
  font-style: italic;
  margin: 0 10px;
}

.salePrice {
  color: red;
  font-size: 1rem;
}
// <- Game overview end.

// Details view ->
a {
  color: rgba(80, 19, 0, 0.993);
  font-weight: 800;
  margin: 0 20px;
  &:hover {
    color: rgba(187, 129, 143, 0.68)
  }
}

.details-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr 200px;
  column-gap: 20px;
  row-gap: 20px;
  background-color: white;
  padding: 10px;
  //Column 1
  .title {
    display: flexbox;
    flex-direction: column;
    grid-area: 1 / 1 / 4 / 4;
    justify-self: center;
  } 
  .img {
    display: flexbox;
    position: relative;
    flex-direction: column;
    grid-area: 2 / 1;
    margin: 0 auto;
  }
  .VIPDetails {
    display: flexbox;
    flex-direction: column;
    padding: 20px;
    grid-area: 3 / 1;
    li {
      margin: 10px 0;
    }
  }
  //Column 2
  .description{
    grid-area: 2 / 2 / 2 / span 2;
    padding: 20px;
    align-self: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .extra-details {
    grid-area: 3 / 2 / 3 / 3;
    padding: 20px;
    li {
      margin: 10px 0;
    }
  }
  //Column 3
  .price {
    grid-area: 3 / 3 / 3 / 3;
    padding: 30px 50px 70px 50px;
    align-self: flex-end;
    margin-bottom: 5px;
  }
  
  .add-to-cart-btn {
    grid-area: 3 / 3 / 3 / 3;
    max-height: 40px;
    justify-self: end;
    align-self: flex-end;
    margin: 20px;
    background-color: white !important;

  }

  .sale {
    margin-top: -2rem;
  }
  
}
//Related games row
.relatedGames {
  grid-area: 4 / 1 / 4 / span 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  .game-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    max-width: 200px;
    max-height: 300px;
    padding: 5px;
    h2 {
      max-width: 200px;
    }
  }
  .add-to-cart-btn {
    margin: 0 auto;
  }
}

#related-title {
  margin-top: 50px;
}

//<-Details end 

//Shopcart ->

.shopcart-close-btn {
  font-size: 4rem !important;
  padding: 0.6rem;
  margin-left: -1.5rem;
  float: left;
  fill: rgba(80, 19, 0, 0.993) !important;
  &:hover {
    cursor: pointer;
    fill: rgba(216, 41, 64, 0.952)!important;
  }
  
}

.shopcart-content {
  display: block;
  margin-top: $nav-height;
  min-width: 380px;
  max-width: 500px;
  h3 {
    display: block;
    margin: 0 25px;
  }
}

.shopcart-item {
  display: grid;
  grid-template-columns: 50px 1fr 80px;
  margin: 20px auto;
  border-bottom: 0.5px solid lightgray;
  img {
    grid-area: 1 / 1;
  }
  .shopcart-name {
    grid-area: 1 / 2;
  }
  .shopcart-price {
    grid-area: 2 / 2 / 2 / span 2;
    justify-self: end;
    margin: 0 20px;
    .percentageSale {
      color: black;
      font-size: 0.8rem;
      
    }
  }
  .remove-from-cart-btn {
    grid-area: 1 / 3;
    justify-self: end;
    margin-right: 40px;
    fill: rgba(80, 19, 0, 0.993) !important;
    &:hover {
      cursor: pointer;
      fill: rgba(216, 41, 64, 0.952) !important;
    }
  }
  
}

.sum-container {
  display: block;
  float: right;
  margin-right: 4rem;
}
// <- Shopcart end



//SortList ->
.sortList {
  width: 300px;
  z-index: 0;
}

#kategori-subheader {
  margin: 0 auto;
  padding: 0 30px;
  background-color: white;
}

.checkbox {
  color: rgba(80, 19, 0, 0.748) !important;
  
}
// <- SortList end 



// playersfilter

.players-heading {
  margin-left: 1.5rem !important;
  margin-top: 1.5rem !important;
  font-size: 1.3rem !important;
}
