@import './sass/reset';
@import './sass/variables';

.content-area {
  margin-top: $nav-height;
  height: 100vh - $nav-height;
}

.navbar {
  height: $nav-height;
  position: fixed;
}

.single-view-container {
  text-align: center;
}

.spinner {
  width: 200px;
  margin: auto; 
  display: block;
}

.overviewGridContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.overviewGrid {
  list-style-type: none;
  width: 200px;
  height: auto;
  margin: 20px;

  .gameOverview {
    height: 250px;
    img {
      height: 150px;
      max-width: 165px;
    }
  }
}


